:root {
  --d9-timeline-dot-size: .25rem;
  --d9-timeline-margin: .25rem;
  --d9-timeline-width: 3rem;
}

.history {
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}

.history-head, 
.history-footer , 
.history-item-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--d9-timeline-width);
  position: relative;
}

.history-footer {
  .history-timeline-dot {
    background-color: var(--bs-body-color);
    height: var(--d9-timeline-dot-size);
    width: var(--d9-timeline-dot-size);
    border-radius: $border-radius;
    margin-top: var(--d9-timeline-margin);

    &:nth-child(1) {
      opacity: 8;
    }

    &:nth-child(2) {
      opacity: .6;
    }

    &:nth-child(3) {
      opacity: .4;
    }
  }
}

.history-head {
  margin-bottom: -4px;
}

.history-arrow-up {
  font-size: $spacer * 2;
  line-height: 1em;
}

.history-item {
  display: flex;

  &:first-child .history-timeline-line {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child .history-timeline-line {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .history-timeline-dot {
    background-color: var(--bs-secondary-bg);
    padding-top: .4rem;
    padding-left: .4rem;
    border: var(--d9-timeline-dot-size) solid var(--bs-body-color);
    border-radius: $border-radius-lg;
    margin-top: $spacer * 3;
    z-index: 2;
  }

  @include media-breakpoint-up(md) {
    .history-timeline-dot {
      margin-top: $spacer * 2.5;
    }
  }

  .history-item-body {
    padding-bottom: $spacer * 2;
  }

  .history-thumbnail {
    width: $spacer * 3;
    height: $spacer * 3;
    border-radius: $border-radius;
    background-color: var(--bs-body-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-secondary-bg);
  }
}

.history-timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  // left: calc(var(--d9-timeline-width) / 2);
  width: .25rem;
  background-color: var(--bs-body-color);
}

@include media-breakpoint-up(md) {
  .history-head {
    width: unset;
    display: flex;
    justify-content: center;
  }

  .history-item {
    .history-item-space {
      display: block !important;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: end;

      .row {
        flex-direction: row-reverse;
      }
      
      ul {
        justify-content: end;
      }
    }

    &:not(:first-child) {
      margin-top: $spacer * -3;
    }
  }

  .history-footer {
    width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}