@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";

:root {
  --d9-triangle-height: 1.5rem;
}

@include media-breakpoint-up(sm) {
  :root {
    --d9-triangle-height: 2rem;
  }
}

@include media-breakpoint-up(md) {
  :root {
    --d9-triangle-height: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --d9-triangle-height: 4rem;
  }
}

main {
  background-color: var(--bs-tertiary-bg);
}

.dropdown-toggle.show {
  outline: 0 !important;
}

.section {
  padding: $spacer * 4 0;

  &:nth-child(2) {
    padding-top: 0;
  }

  &.section-highlight {
    background-color: var(--bs-secondary-bg);
    position: relative;
    margin-top: var(--d9-triangle-height);
    margin-bottom: var(--d9-triangle-height);

    &::before, &::after {
      content: "";
      position: absolute;
      height: 0;
      right: 0;
    }

    &::before {
      top: calc(var(--d9-triangle-height) * -1);
      border-top: var(--d9-triangle-height) solid transparent;
      border-right: 100vw solid var(--bs-secondary-bg);
    }

    &:not(:last-of-type)::after {
      bottom: calc(var(--d9-triangle-height) * -1);
      border-bottom: var(--d9-triangle-height) solid transparent;
      border-left: 100vw solid var(--bs-secondary-bg);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:first-child {
    h1, p {
      margin-bottom: $spacer * 1.5;
    }
  }
}

@include media-breakpoint-up(md) {
  .position-md-sticky {
    position: sticky;
  }
}

.img-hero {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: -.5rem 1rem 0 .5rem var(--bs-primary);
  transition: all .3s ease-in-out;
  animation: hero-border-radius ease-in-out 10s infinite,
    hero-transform ease-in-out 4s infinite;
}

@keyframes hero-border-radius {
  from {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  30% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  35% {
    border-radius: 30% 70% 44% 56% / 64% 57% 43% 36%;
  }

  60% {
    border-radius: 30% 70% 44% 56% / 64% 57% 43% 36%;
  }

  65% {
    border-radius: 76% 24% 15% 85% / 75% 30% 70% 25%;
  }

  95% {
    border-radius: 76% 24% 15% 85% / 75% 30% 70% 25%;
  }

  to {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

@keyframes hero-transform {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(.6rem);
  }

  to {
    transform: translateY(0);
  }
}

.footer {
  padding: $spacer 0;
  border-top: $border-width solid var(--bs-border-color);
}

.card-body {
  display: flex;
  flex-direction: column;

  .card-buttons {
    margin-top: auto;
  }
}

@import "history";
@import "navbar";
@import "skill";
@import "background";