@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";

@font-face {
  font-family: playlist-script;
  src: url("/assets/font/Playlist Script.otf");
}

.dropdown-toggle.show {
  outline: transparent !important;
}

@include media-breakpoint-up(md) {
  .position-md-sticky {
    position: sticky;
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;

  > section {
    padding: ($spacer * 3) 0;
  }
}

.footer {
  padding: $spacer 0;
  border-top: $border-width solid var(--bs-border-color);
  background-color: var(--bs-primary);
  color: var(--bs-nav-link-hover-color);
}

.card.category .card-title {
  text-shadow: 0 0 calc($spacer / 4) #000;
}

.bg-high-contrast,
.card.card-product,
.breadcrumb-container {
  background-color: var(--bs-tertiary-bg);
}

.breadcrumb-container {
  padding: $spacer 0;
}

.article-image {
  border-radius: 80% 20% 80% 20% / 16% 38% 62% 84% ;
}

.ratio-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-content > p:first-of-type {
  font-size: $spacer * 1.25;
  font-weight: 300;
}

.alert .col > p:last-child {
  margin-bottom: 0;
}

@import "navbar";
@import "background";