.navbar-brand {
  font-family: playlist-script;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $spacer * 1.5
}

.nav-separator {
  border-right: $border-width solid var(--bs-nav-link-color);
  margin-left: $spacer / 2;
  margin-right: $spacer / 2;
}