.navbar {
  background-color: $white;
}

@include color-mode(dark) {
  .navbar, .footer {
    background-color: $dark;
  }
}

.navbar-brand {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: bold;
}

.nav-separator {
  border-right: $border-width solid var(--bs-nav-link-color);
  margin-left: $spacer / 2;
  margin-right: $spacer / 2;
}