$enable-negative-margins: true;
$enable-shadows: true;

$primary: #90c292;
$secondary: #e0eadf;
$success: #5cb85c;
$info: #a3d7ff;
$warning: #ffb347;
$danger: #f88379;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/variables";
@import "bootstrap/variables-dark";

// 4. Include any default map overrides here
$body-color:                   mix($gray-900, $primary, 80%);
$body-bg:                      $secondary;
$body-secondary-color:         rgba($body-color, .75);
$body-secondary-bg:            mix($gray-100, $secondary, 50%);
$border-color:                 $gray-500;

$body-color-dark:                   mix($gray-200, $primary, 80%);
$body-bg-dark:                      mix($gray-900, $primary, 80%);
$body-emphasis-color-dark:          $gray-100;
$body-secondary-color-dark:         rgba($body-color-dark, .75);
$body-secondary-bg-dark:            mix($gray-800, $primary, 80%);
$body-tertiary-color-dark:          rgba($body-color-dark, .5);
$body-tertiary-bg-dark:             mix($gray-800, $gray-900, 50%);

$emphasis-color-dark:               $white;
$border-color-dark:                 $gray-700;
$border-color-translucent-dark:     rgba($white, .15);
$headings-color-dark:               #fff;
$link-color-dark:                   mix($gray-500, $primary, 10%);
$link-hover-color-dark:             darken($link-color-dark, 15%);
$code-color-dark:                   $pink-300;

$primary-text:            shade-color($primary, 40%);
$primary-bg-subtle:       tint-color($primary, 60%);
$primary-border-subtle:   tint-color($primary, 30%);

$primary-text-dark:                 tint-color($primary, 40%);
$primary-bg-subtle-dark:            shade-color($primary, 80%);
$primary-border-subtle-dark:        shade-color($primary, 40%);
